@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
h1 {
font-weight:600;
font-size: 2.5em;
color: black;
}
#left {
list-style-position: inside;
float: left;
width: 25%;
height: 100%;
background: #ADE0EE;
text-align: left;
color: black;
}
#main {
float: left;
width: 50%;
height: 100%;
background: #FFEF6C;
text-align: left;
/*margin-bottom: 0px;*/
}
#right {
list-style-position: inside;
float: left;
width: 25%;
height: 100%;
background: #FEEEED;
text-align: left;
}
body {
font-family: 'Noto Sans JP', sans-serif;
background-color: #CEE6C1;
font-size: 1em;
}
.btn {
display: flex;
    box-sizing: border-box;
    background-color: #cbfd23;
    color: #000000;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
}
.emph {
    color: red;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:600;
}
